---
import Layout from '../layouts/Layout.astro';
const pageTitle = "TEA - Diagnostico";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="400" height="300" alt="RaccoonSpaceGif" src="/3.png"/>
    </div>
    <h1>TEA - Diagnostico</h1>
    <p>
        El trastorno del espectro autista (TEA) es un tipo de trastorno del desarrollo. A menudo aparece en los primeros 2 a 3 años de la vida. El TEA afecta la habilidad del cerebro para desarrollar las habilidades sociales y de comunicación normales.
    </p>
    <p>
        El TEA en niños implica una variedad de aspectos a considerar, tales como la detección temprana, la intervención adecuada, y el apoyo continuo. Es crucial identificar signos de TEA lo antes posible, como dificultades en la comunicación y comportamiento repetitivo, para iniciar intervenciones que pueden mejorar significativamente las habilidades sociales, de comunicación y adaptativas del niño. Además, el apoyo emocional y educativo, tanto para el niño como para la familia, es fundamental para manejar los desafíos diarios y fomentar un entorno inclusivo que promueva el desarrollo y el bienestar integral del niño.
    </p>
    <div class="center">
        <a href="/works/">
            <button class="btn">Diagnostico</button>
        </a>
    </div>
</Layout>

