---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "Posts";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="400" height="259" alt="RaccoonLaptopGif" src="/4.png"/>
    </div>
    <h2>Blog</h2>
    <ul role="list" class="link-card-grid">
        <Card
            url="https://www.quironsalud.com/blogs/es/blogs-quironsalud/sana-mente/autismo"
            image="/5.jpeg"
            title="¿Qué es el autismo?"
            body="Cada vez se conocen más casos de personas con autismo y aun son muchas las personas que desconocen en qué consiste este trastorno."
        />
        <Card
            url="https://www.quironsalud.com/blogs/es/neuropediatra/trastorno-espectro-autista-trastorno-comunicacion"
            image="/5.avif"
            title="¿Trastorno del espectro autista o trastorno de la comunicación?"
            body="Encuentra las diferencias y aprende a como identificarlas."
        />
    </ul>
    <h2>YouTube</h2>
    <ul role="list" class="link-card-grid">
        <Card
            url="https://www.youtube.com/watch?v=0JcUmM63rPI"
            image="/2.png"
            title="Realidad, mitos y retos del autismo. Melisa Tuya y Diana Bohórquez"
            body="El autismo no es una enfermedad. Tenemos que trabajar para que las personas con autismo tengan un potencial máximo y sean felices."
        />
        <Card
            url="https://www.youtube.com/watch?v=msW4e-qnFjk&pp=ygUDdGVh"
            image="/1.png"
            title="¿Qué sabemos sobre AUTISMO? | Neurociencia"
            body="¿Qué es el autismo y cómo lo detectamos? ¿Sabemos qué provoca el autismo?"
        />
    </ul>
</Layout>

